**/__pycache__/**
**/output/**
checkpoint/
*.out
*.err
local_datasets/
configs/
raid_out.txt
configs/cifar100_l2p.py
configs/five_datasets_l2p.py
palashserver.txt
poetry.lock
pyproject.toml
secret_key.py
SemAlign/local_data/
